.mainContainer{
    display: flex;
    /* width: 371px; */
    height: 100vh;
}
.mapContainer{
    width: calc( 100% - 398px );
    /* width: calc( 100% ); */
    height: 100vh;
}
.card{
    width: 400px;
    padding: 10px;
    height: 100vh !important;
    overflow-y: scroll;
}
.cardTitle{
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid;
}